# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Blockchain\y3w-blockchain\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
